@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 26px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .accordion_item .head .title
    {
        font-size: 16px;
    }



    /*-------------------
        Mob. all link
    -------------------*/
    .mob_all_link
    {
        display: flex;
    }



    /*------------
        Header
    ------------*/
    header .cont
    {
        min-height: 0;
    }


    header .logo img
    {
        width: 132px;
    }


    header .phone
    {
        font-size: 17px;
        line-height: 23px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .breadcrumbs
    {
        display: none;
    }


    .page_title
    {
        line-height: calc(100% + 4px);

        margin-top: 0;
        padding-bottom: 3px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit_btn
    {
        font-size: 16px;

        padding: 15px 35px 17px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 22px;
    }

    .text_block h3
    {
        font-size: 20px;
    }

    .text_block h4
    {
        font-size: 18px;
    }


    .text_block img
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;

        border-radius: 0;
    }


    .text_block .bg
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 24px;

        border-radius: 0;
    }


    .text_block .slider_block .title
    {
        font-size: 22px;
        line-height: calc(100% + 4px);
    }


    .text_block .table_wrap
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }

    .text_block table
    {
        width: 600px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-top: 124px;
    }


    .first_section .info .pre_title
    {
        font-size: 26px;
    }

    .first_section .info .pre_title span
    {
        font-size: 48px;
    }


    .first_section .info .pre_title .icon
    {
        width: 60px;
        height: 80px;
        margin-right: 20px;
    }

    .first_section .info .pre_title .icon + div
    {
        width: calc(100% - 80px);
    }


    .first_section .info .title
    {
        font-size: 22px;

        width: 100%;
    }


    .first_section .info .desc
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }


    .first_section .info .btn
    {
        font-size: 16px;

        margin-top: 28px;
    }


    .first_section .bg
    {
        object-position: 33.333% 50%;
    }



    /*-----------
        Stats
    -----------*/
    .stats .row
    {
        margin-bottom: -32px;

        justify-content: flex-start;
    }

    .stats .row > *
    {
        width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        margin-bottom: 32px;
    }



    /*-------------
        Network
    -------------*/
    .network .data .block_title
    {
        font-size: 26px;
    }


    .network .video_link
    {
        font-size: 28px;

        bottom: 32px;
        left: 36px;
    }

    .network .video_link .icon
    {
        width: 56px;
        height: 56px;
        margin-right: 20px;
    }

    .network .video_link img
    {
        bottom: -12px;
        left: -40px;

        width: 132px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .block_title
    {
        font-size: 32px;
    }


    .why_we .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .why_we .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .why_we .item:before
    {
        font-size: 28px;
        line-height: 26px;
    }

    .why_we .item br
    {
        display: none;
    }



    /*-----------
        Steps
    -----------*/
    .steps .block_title
    {
        font-size: 34px;
    }

    .steps .item
    {
        width: calc(50% - 24px);
    }


    .steps .your_suggestion
    {
        font-size: 19px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .block_title
    {
        font-size: 22px;
    }

    .faq .block_title span
    {
        font-size: 36px;

        display: block;

        margin: 0;
    }



    /*---------------
        Geography
    ---------------*/
    .geography .block_title
    {
        font-size: 36px;
    }


    .geography .cities
    {
        padding: 20px 16px;

        column-count: 2;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .grid
    {
        height: auto;
    }


    .gallery .item
    {
        position: relative;

        margin: 0;

        inset: 0;
    }

    .gallery .item + .item
    {
        margin-top: 8px;
    }

    .gallery .item1 div,
    .gallery .item2 div,
    .gallery .item3 div,
    .gallery .item4 div,
    .gallery .item5 div,
    .gallery .item6 div,
    .gallery .item7 div,
    .gallery .item8 div,
    .gallery .item9 div,
    .gallery .item10 div
    {
        width: 100%;
        height: auto;
    }

    .gallery .item1 div
    {
        padding-bottom: 63.96%;
    }

    .gallery .item2 div
    {
        padding-bottom: 32.88%;
    }

    .gallery .item3 div
    {
        padding-bottom: 66.25%;
    }

    .gallery .item4 div
    {
        padding-bottom: 69.39%;
    }

    .gallery .item5 div
    {
        padding-bottom: 63.46%;
    }

    .gallery .item6 div
    {
        padding-bottom: 59.77%;
    }

    .gallery .item7 div,
    .gallery .item8 div,
    .gallery .item9 div,
    .gallery .item10 div
    {
        padding-bottom: 63.78%;
    }



    /*--------------
        Partners
    --------------*/

    .partners .block_title
    {
        font-size: 28px;
    }


    .partners .swiper-container
    {
        width: 100%;
    }

    .partners .swiper-container .slide
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }


    .partners .swiper-button-next,
    .partners .swiper-button-prev
    {
        top: -92px;
    }

    .partners .swiper-button-prev
    {
        right: 52px;
    }

    .partners .swiper-button-next .icon,
    .partners .swiper-button-prev .icon
    {
        width: 37px;
        height: 16px;
    }


    .partners .partner .person .name
    {
        font-size: 16px;
    }


    .partners .partner .point
    {
        font-size: 15px;
        line-height: 21px;
    }


    .partners .partner .text
    {
        font-size: 13px;
        line-height: 19px;
    }


    .partners .img
    {
        display: none;
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper-button-prev
    {
        right: 52px;
    }

    .brands .swiper-button-next .icon,
    .brands .swiper-button-prev .icon
    {
        width: 37px;
        height: 16px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-button-prev
    {
        right: 52px;
    }

    .products .swiper-button-next .icon,
    .products .swiper-button-prev .icon
    {
        width: 37px;
        height: 16px;
    }



    .products .product
    {
        font-size: 13px;
        line-height: 19px;

        padding: 8px 8px 16px;
    }


    .products .product .thumb
    {
        margin-bottom: 12px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding-top: 52px;
        padding-bottom: 52px;
    }


    .feedback .data
    {
        width: 100%;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }


    .articles .article .thumb
    {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        padding-bottom: 77.27%;
    }


    .articles .article .thumb + .info
    {
        width: 100%;
    }


    .articles .article .name
    {
        font-size: 18px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 24px;

        border-radius: 0;
    }


    .contacts_info .data .phone
    {
        width: 100%;
    }


    .contacts_info .data .email
    {
        width: 100%;
        margin-top: 16px;
    }


    .contacts_info .data .location
    {
        width: 100%;
        margin-top: 16px;
    }


    .contacts_info .map_wrap
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding-bottom: 100%;

        border-radius: 0;
    }



    /*------------------
        Page anchors
    ------------------*/
    .page_anchors .row
    {
        margin-left: 0;
    }

    .page_anchors .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*--------------
        Partners
    --------------*/
    .partners .block_title
    {
        width: calc(100% - 120px);
    }


    .partners .partner
    {
        padding: 1px 24px 24px;
    }



    /*--------------
        Products
    --------------*/
    .products .product
    {
        font-size: 14px;
        line-height: 22px;

        padding: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        width: calc(50% - 12px);
    }


    footer .contacts
    {
        width: calc(50% - 12px);
    }


    footer .order_btn
    {
        width: calc(50% - 24px);
        margin-top: 24px;
    }


    footer .location
    {
        width: calc(50% - 12px);
    }


    footer .socials
    {
        width: calc(50% - 12px);
    }

    footer .socials .title
    {
        line-height: 20px;

        margin-bottom: 12px;
    }


    footer .privacy_policy_link
    {
        position: relative;
        left: 0;

        width: 100%;

        text-align: center;
    }


    footer .copyright
    {
        margin-top: 8px;
    }
}
